// http://eslint.org/docs/user-guide/configuring
{
  parserOptions: {
    ecmaVersion: 2017 // support async/await
  },
  globals: {
    $: false // for jQuery
  },
  extends: [
    'standard', // https://github.com/standard/eslint-config-standard
    'plugin:vue/recommended' // https://github.com/vuejs/eslint-plugin-vue
  ],
  rules: {
    'no-new': 0,
    'no-sequences': 0,
    'no-return-assign': 0,
    'no-mixed-operators': 0,
    'no-trailing-spaces': 0,
    'space-before-function-paren': 0,
    'vue/require-v-for-key': 0,
    'vue/valid-v-for': 0
  }
}
